body{
    background-color: rgb(148, 0, 0);
}
.nav{
    display: flexbox;
    color: white;
    gap: 20px;
    margin-right: 20px;
}
.lav{
    color: red;
    margin-top:-12px;
    margin-left:-65px;
}
.scroll-bar{
    overflow: auto;
    background-color: rgba(120, 120, 120, 0.095);
    height:  600px;
    width: 50%;
    margin-left: 15px;
    
}
.card{
    width: 900px;
    margin-left: 30px;
    margin-top: 20px;
    border: none;
}
.cartprice{
    font-weight: bolder;
    font-size: 20px;
}
.cartdiscount{
    text-decoration: line-through;
    margin-left: 10px;
    color: rgb(102, 102, 102);
}
.three-container{
    width: 100px;
    color: white;
    margin-left: 20px;
    padding: 3px;
    
    
}
.minus{
    margin-left: -10px;
    font-size: 40px;
    margin-top: -23px;
    font-weight: bolder;
    
    
}
.one{
    margin-top: -39px;
    margin-left: 25px;
    color: red;
    font-size: 18px;
    font-weight: bolder
  
}
.plus{
    margin-left: 55px; 
    margin-top: -32px;
    font-size: 23px;
    font-weight: bolder;
}
.bi-trash3{
    position: absolute;
    color: white;
    margin-left: 330px;
    margin-top: -140px;
    font-weight: bolder;
}
.property{
    color: rgb(230, 221, 221);
    font-size: large;
    font-weight: 20px;
    margin-left: 750px;
    margin-top: -600px;

}
.Items{
    color: rgb(216, 210, 210);
    font-size: 20px;
    font-weight: 100;
    margin-left: 750px;
    margin-top: -10px;
}
.Item{
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 1050px;
    margin-top: -255px;
}
.main{
    color: rgb(214, 196, 196);
    margin-left: 50px;
    margin-top: 200px;
}
.Subscribe{
    color: rgb(153, 148, 148);
    font-size: 15px;
    font-weight: 200px;
}
.Address{
    color: rgb(95, 93, 93);
    background-color: black;
    border: 2px solid rgb(136, 132, 132);
    width: 250px;
    height: 35px;
}
.submit{
    color: whitesmoke;
    background-color: red;
    width: 150px;
    height: 35px;
    border: 2px solid red;
    border-radius: 2%;
}
.help{
    margin-top: 200px;
    margin-left: 150px;
    color: rgb(187, 185, 185);
    font-size: 30px;
    font-weight: 100;

}
.products{
    margin-top: -30px;
    list-style: none;
    font-size: 18px;
    font-weight: 100;
}
.apps{
    height: 30px;
    justify-content: center;
    margin-top: -60px;
    margin-left: 950px;
    gap: 30px;
}