.del{
    color: whitesmoke;
    margin-left: 440px;
    margin-top: -60px;
}
.up{
    margin-right: 220px;
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    margin-top: -10px;
}
.top{
    margin-right: 90px;
    color: rgb(226, 220, 220);
    font-weight: bold;
    font-size: 15px;
}
.signup{
    color: whitesmoke;
    text-align: center;
    margin-top: 80px;
    border: 2px solid rgb(148, 145, 145);
    width: 450px;
    height: 520px;
    margin-left: 450px;
}
.btn{
    
    margin-left: 10px;
    width: 130px;
     height: 40px; 

}